body {
  margin: 0px;
  background-color: #ffbbb4;
}

#outer {
  border-style: solid;
  border-width: 7px;
  border-radius: 20px;
  border-color: #ffbbb4;
  padding: 20px;
  background-color: #f35588;
  height: 100%;
}

#users {
  width: 100%;
}

#users,
.singleUserDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 15px;
}

.singleUserDiv {
  padding: 20px;
  margin: 20px;
  width: 90%;
  border-radius: 20px;
  background-color: #ffbbb4;
  display: flex;
  justify-content: left;
  align-items: start;
  padding-left: 40px;
}

#head,
#new_user {
  background-color: #007944;
  color: #ffbbb4;
  border-radius: 25px;
  font-weight: 900;
  font-family: fantasy;
  font-size: 30px;
  width: 200px;
  height: 40px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#head {
  display: flex;
  align-items: center;
  justify-content: center;
}

.photodiv {
  align-self: center;
  border-color: #71A95A;
  border-width: 10px;
  border-style: solid;
  padding: 4px;
  background-color: black;
}

.info {
  font-size: 25px;
  color: #007944;
  margin: 8px;
}

.photo {
  transition-duration: 1s;
  width: 250px;
}

#new_user {
  transition-duration: 0.5s;
}

#new_user:hover {
  width: 300px;
  height: 60px;
  background-color: white;
  color: black;
}

.photo:hover {
  width: 400px;
}

.info:hover {
  color: white;
}

@media (min-width: 850px) {
  .singleUserDiv {
    display: flex;
    flex-direction: row;

  }

  .photo {
    width: 350px;
  }

  #textInfo {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
}